<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.torgammelgard.pokertrax" >

    <uses-permission android:name="com.android.vending.BILLING" />
    
    <application
        android:name=".MainApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppThemeLight"
        android:supportsRtl="true">

        <activity
            android:name=".activities.TabMain_FragmentActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.AddSessionActivity"
            android:label="Add Session" >
        </activity>

    </application>

</manifest>
